---
import BaseHead from '../components/BaseHead.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="overflow-hidden rounded-xl mb-6 mt-16 md:mt-0">
				<img src="/main.webp" alt="主視覺" class="w-full" />
			</div>
			<h1 class="text-xl text-primary pb-2">啟程</h1>
			<p>
				歡迎來到程式散步，我是經營這裡的小旅人 Jae。這裡分享的是我在網頁開發上的學習旅程，希望這趟旅途像散步，每一步不必很大，但都能保持自己的步調。如果內容中有任何錯誤，歡迎指教。
			</p>
			<div class="text-right mt-4">
				<a href="/blog" class="inline-block px-3 py-1.5 border-2 border-primary text-primary rounded-xl hover:bg-primary hover:text-white">
					探索筆記 →
				</a>
			</div>
			<h1 class="text-primary text-xl font-semibold py-10 text-center">. . .</h1>
			<h1 class="text-xl text-primary">散步地圖</h1>
			<p>這裡預計會有的分享主題：</p>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
				<Card
					image="https://placehold.co/400x200/009291/white?text=前端"
					title="前端"
					description="Tailwind CSS / JavaScript / React"
				/>
				<Card
					image="https://placehold.co/400x200/009291/white?text=後端"
					title="後端"
					description="API 與資料庫"
				/>
				<Card
					image="https://placehold.co/400x200/009291/white?text=UIUX"
					title="UIUX"
					description="使用者介面與體驗設計"
				/>
				<Card
					image="https://placehold.co/400x200/009291/white?text=心得分享"
					title="心得分享"
					description="什麼都分享"
				/>
			</div>
			<h1 class="text-primary text-xl font-semibold py-10 text-center">. . .</h1>
			<h1 class="text-xl text-primary">許願池</h1>
			<p>留下想了解的主題或想說的話，許願不用錢，不論是金願望還是銀願望，有許總是多個機會！</p>
			<div class="mt-6">
				<script src="https://giscus.app/client.js"
					data-repo="comea22/comea22.github.io"
					data-repo-id="R_kgDOQskEGw"
					data-category="Announcements"
					data-category-id="DIC_kwDOQskEG84C0ExV"
					data-mapping="pathname"
					data-strict="0"
					data-reactions-enabled="0"
					data-emit-metadata="0"
					data-input-position="bottom"
					data-theme="light"
					data-lang="zh-TW"
					crossorigin="anonymous"
					async>
				</script>
			</div>

		</main>
		<Footer />
	</body>
</html>
